
<% if @lead -%>
<h3 class="center">Input your ticket number  </h3>
<center>
	<%= form_tag check_ticket_car_status_path, :method => :get do %>
	<%= text_field_tag :ticket, "", class: '', placeholder: 'ticket' %>
	<br/>
	<%= text_field_tag :phone, "", class: '', placeholder: 'phone', value: @lead.phone, class: 'hidden'%>
	<%= submit_tag "Check car status", class: "btn btn-medium btn-primary" %>
</center>

<% end %>

<% else -%>
<center>
	<h3> No records found.</h3>
</center>
<% end -%>

