<center>
	<div class="pure-g " style="min-height:300px" >
		<div class="pure-u-1" style="width:500px;margin:0 auto;text-align:left;margin-top:20px ">
			<h1 style="">Restore process</h1>
			<br/>
			<br/>
			<%= p = PagePart.find_by(page_name: 'service_process')
			if p
				raw p.text
				end%>    </div>
			</div>
		</center>
