<li>
  <%= link_to lead.name, edit_lead_path(lead.id) %> ---
  <%= lead.status %>  
  <% if current_user.admin?  %>
     <%= link_to "delete", lead, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>