   @media (max-width: 900px) {
     a.logo-sign {
       font-size: 2em !important;
     }
     .green-button{
       display: none!important;
     }
     .chat_button_new{
       display:none!important;
     }
     #myCarousel{
       height:800px!important;
     }

     .carousel-h1{
       display: block!important;
       margin-bottom: 5px;
     }
     .carousel-h1-link {
       display: inline-block!important;
     }
     .fill {
       background:image-url('slider5.jpg') !important;
       background-size: cover!important;
       background-position: top!important;
     }
     .right_nav {
       display: none!important; 
     }
    .menu-wrap {
     padding-top: 65px!important;
    }
    a.menu_closer {
    top: 62px!important;
    }
   }
   @media (max-width: 500px){
     .div-wrap-phone > .phone {   margin-right: 20px;}
     .carousel-phone {
       padding-bottom: 10px;
     }
     i.photo-closer{  position: fixed !important;
       top: 90px;
       right: 50px;
     }
     .fill {
       background-size: cover!important;
       background-position: top!important;
     }
     .modal-body {
       width:320px!important;
       margin:0 auto!important;
     }
     .btn-phone {
       margin-top:10px!important;
     }
   }
   @media (max-width: 399px){
     .car400 {
       display: none
     }
     .car320 {
       display: block!important;
     }
     .blog-wrap {
       width:360px!important;
     }
   }
   @media (max-width: 330px) {
     .logo-sign {
       display:none;
     }
     .blog-wrap {
       width:320px!important;
     }
   }

   @media (min-width:900px) {
     /*.logo-sign {margin-left: 235px!important;}*/
     .fill {
       background-position: center bottom !important;
       padding-top: 68px !important;

     }
     .carousel-phone > .phone {
       border-radius: 0px;
     }

     .carousel-phone {
       margin-top: 23% !important;
     }
     #myCarousel {
       min-height: 600px!important;
     }
     .btn-phone {
       margin-left:-10px;
       border-radius: 0;
     }
     /* trash with header */
     .black-navbar {
      padding-bottom: 3px!important;
      padding-top: 3px!important;
    }
    .stuff {
      background: none !important;
      top: 57px!important;
      border-bottom: 0px!important;
    }
    #myCarousel {
      margin-top: 0px!important;
    }
    .stuff > center {
      margin-top:0px!important;
    }
    /*.chat_button {
      margin-top:-40px!important;
    }*/
    .fill {
      padding-top:85px!important;
    }
    .nav-wrap-main {
       margin-right: 40px;
    }
    .logo-sign {
      margin-left: 230px!important;
    }
    /*end trash with header*/
  }

  @media (min-width: 1300px) {
   .fill {
    padding-top:90px!important;
  }
  .logo-sign {
      margin-left: 235px!important;
    }
}
@media (min-width: 1500px){
  .carousel-phone {
    margin-top: 15% !important;
  }
}

.btn-phone {
 margin-top:-10px
}
.div-wrap-phone {
 border:0px solid  #ADADAD;;background:rgba(0,0,0,0.3);max-width:400px;padding-top:5px;margin-top:-5px;
}
 @media (max-width: 1056px){
     .chat_button_new{
        display:none!important;
     }
   }
