<div class="wrap" style="position:relative;"> 

   <%= image_tag('car.jpg', :style=> "cursor:pointer;width:400px", :class => "car")%>

  <!-- <map name="carmap">:usemap => "#carmap"
    <area shape="rect" coords="620,531,622,533" alt="Image Map" style="outline:none;cursor:pointer;" title="Image Map" />
    <area    shape = "poly" coords="76,6,56,31,46,48,38,41,22,40,16,41,12,47,8,51,11,61,19,64,28,63,28,73,23,75,17,88,14,104,12,122,12,142,15,164,15,186,17,208,34,211,47,210,56,203,72,188,237,191,247,208,283,205,283,89,277,76,267,65,288,58,288,40,263,40,261,40,258,41,258,48,248,30,221,1,124,0,80,5" style="outline:none;cursor:pointer;" target="_self"     />
    <area   alt="" title=""  shape="poly" coords="397,7,371,44,361,55,356,69,347,97,352,209,378,207,389,183,535,181,558,186,572,207,595,207,603,99,584,54,549,4" style="outline:none;cursor:pointer;" target="_self"     />
    <area   alt="" title=""  shape="poly" coords="257,324,281,319,319,316,384,315,434,318,473,331,543,361,599,366,611,395,610,414,620,430,617,472,548,490,541,495,536,509,524,519,513,527,500,534,482,532,468,524,457,512,452,500,447,490,442,494,431,499,168,499,164,500,159,512,153,522,138,526,126,533,114,536,100,530,84,521,72,513,66,494,62,498,8,492,3,479,0,460,0,444,21,405,82,389,134,380,157,377" style="outline:none;cursor:pointer;" target="_self"     />

  </map> -->
</div>
