<div class="wrap" style="position:relative;"> 
  <div class ="map400">
    <%= image_tag('carnew.jpg', :style=> "width:400px", :class => "car car400", :usemap =>"#carmap400")%>

    <map name="carmap400">
      <area alt="" title=""  shape="poly" coords="54,337,39,325,3,319,1,276,17,256,97,238,159,206,290,200,355,229,386,237,394,251,392,266,398,274,396,307,351,315,346,321,331,340,302,340,292,330,282,321,107,324,95,337,92,341,71,341,61,342" />
      <area alt="" title="" href="#" shape="poly" coords="15,133,35,135,43,123,152,124,161,134,180,134,187,63,178,47,174,40,187,35,183,23,162,25,146,1,44,2,29,29,12,25,7,35,12,44,23,43,10,58" />
      <area alt="" title=""  shape="poly" coords="225,137,248,130,252,118,342,118,358,119,365,131,385,134,384,44,349,5,257,8,231,39,222,65" />
    </map> 
  </div>

  <div class="map320">
    <%= image_tag('car.jpg', :style=> "width:320px", :class => "hidden car320",:usemap => "#carmap320")%> 

    <map name="carmap320">
      <area alt="" title=""  shape="poly" coords="4,224,12,205,81,191,130,165,130,165,226,163,280,186,307,189,317,212,319,245,279,255,262,272,242,271,227,257,84,260,67,272,53,271,29,261,6,257,2,243" />
      <area alt="" title=""  shape="poly" coords="11,106,31,107,36,98,123,98,127,105,143,106,146,89,146,44,135,36,153,31,148,21,132,20,115,2,40,3,22,25,8,21,9,32,16,40,6,52" />
      <area alt="" title="" shape="poly" coords="181,107,197,110,201,94,285,95,291,105,310,107,307,39,279,6,201,5,180,47" />
    </map> 

  </div>
</div>
