<footer class="footer">
<!--   <small>
    <a href="#">Fast Autobody Center</a>
    4557 Fountain Ave.Los Angeles Ca 90029
  </small> -->
  <nav class="center" style="margin-top:10px">
      
      <a href="/restore">Car repair process</a> 

      <a href="/new">Free estimate</a> 

      <%= link_to "About us",   about_path %> <br/> 
      <%= link_to "Contact", contact_path %> 
      <%= link_to "Map", contact_path %> 

      <a href="#ba">Gallery</a> 
 </nav>
</footer>
